.article_reader{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article_reader .article_reader_body{
  padding: 2vh 2vw;
  width: 60vw;
  height: 87.5vh;
  overflow: scroll;
  box-shadow: 0 0 2px 3px rgba(151, 151, 151, 25%);
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
.article_reader_body::-webkit-scrollbar {
  display: none;
}
.article_reader_body .feed_items_container{
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.feed_items_container .feed_item{
  background-color: white;
  padding: 2vh;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0 0 2px 3px rgba(151, 151, 151, 25%);
}
.feed_item .feed_item_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 2vw;
}
.feed_item .feed_item_header .feed_item_header_pic{
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
.feed_item .feed_item_body .aricle_text{
  display: block;
  width: 100%;
  padding: 2vh 0;
  overflow-wrap: break-word;
}
.feed_item .feed_item_stats_box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 1.5vw;
}
.feed_item_stats_box .feed_item_stats_box_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5vw;
}
.feed_item_stats_box .feed_item_stats_box_item button{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed_item_stats_box .feed_item_stats_box_item button img{
  height: 20px;
  width: 20px;
}
.feed_item_stats_box .feed_item_stats_box_item button:hover{
  cursor: pointer;
}
.feed_item .comment_section_container{
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 2vh;
  margin-top: 2vh;
}
.input_submitter{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2vw;
}
.feed_item .comment_section_container input{
  width: 50%;
  padding: 0.5vh 1vw;
  border-radius: 2em;
  border: 1px solid #9B9898 ;
}
.feed_item .comment_section_container input:focus{
  outline: none;
}
.comment_section_container .input_submitter button{
  height: fit-content;
  width: fit-content;
  padding: 2px 15px;
  border-radius: 2em;
  background-color: rgb(86, 115, 203);
  color: white;
}
.comment_section_container .input_submitter button:hover{
  cursor: pointer;
}
.comment_container{
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  width: 100%;
}
.comment_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2vw;
  padding-left: 2vw;
  width: 100%;
}

.comment_item .comment_item_img img{
  height: 30px;
  width: 30px;
}
.comment_item .comment_body{
  width: 100%;
}
.comment_item .comment_body p:nth-child(1){
  font-weight: bold;
  font-size: 15px;
}
.comment_item .comment_body p:nth-child(2){
  width: 80%;
  overflow-wrap: break-word;
  font-size: 12px;
}
.comment_item .comment_body p:nth-child(3){
  width: 100%;
}