.header{
  height: fit-content;
  width: 100vw;
  padding: 20px 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header_left_side{
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.header .header_main_title{
  font-size: 35px;
}

.header .header_navbar{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}
.header .header_navbar .header_navlink_base{
  text-decoration: none;
  color: black;
  height: fit-content;
  width: fit-content;
  padding: 0px 5px;
  text-transform: uppercase;
  position: relative;
}
.header .header_navbar .header_navlink_base::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid black;
  transition: 0.25s;
}
.header .header_navbar .header_navlink_base:hover::after{
  width: 100%;
}
.header .header_navbar .header_navlink_active{
  position: relative;
  height: fit-content;
  width: fit-content;
}
.header .header_navbar .header_navlink_active::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
}
.header .header_photo_profil img{
  height: 40px;
  width: 40px;
}