.acceuil{
  background-color: #EBCBFF;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.acceuil .acceuil_wrapper{
  margin-top: 5vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 2vh;
  padding: 0px 5vw;
}
.acceuil .acceuil_wrapper h1{
  font-size: 96px;
  text-align: center;
  width: 100%;
  color: #865454;
}
.acceuil .acceuil_wrapper a{
  text-decoration: none;
  color: black;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #D38AFF;
  /* font-weight: bold; */
}